<html>
<head th:replace="~{base::head}">

</head>
<body>

<div th:replace="~{base :: logo}" ></div>

<!--        Container principal-->
<div class="container">
    <div th:replace="~{base :: titulo('Novo Pedido')}" ></div>

    <!--    Formulário de produtos-->
    <div class="card mt-3">
        <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="post">

            <!-- Nome do produto   -->
            <div class="form-group">
                <label for="nomeProduto">Produto</label>
                <input th:field="*{nomeProduto}" class="form-control" th:errorclass="is-invalid"
                       placeholder="nome do produto">
                <small>Informe qual o nome do produto.</small>
                <div class="invalid-feedback" th:errors="*{nomeProduto}">
                    Erros do nome do produto
                </div>
            </div>

            <!--            Url do produto-->
            <div class="form-group">
                <label for="urlProduto">Url</label>
                <input th:field="*{urlProduto}" class="form-control" placeholder="url do produto"
                       th:errorclass="is-invalid">
                <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>

                <div class="invalid-feedback" th:errors="*{urlProduto}">
                    Erros do URL do produto
                </div>
            </div>
            <!--            Url da imagem-->
            <div class="form-group">
                <label for="urlImagem">Url da Imagem</label>
                <input th:field="*{urlImagem}" class="form-control" placeholder="url da imagem"
                       th:errorclass="is-invalid">
                <small>Copie a Url de uma boa imagem do produto.</small>
                <div class="invalid-feedback" th:errors="*{urlImagem}">
                    Erros do URL d imagem
                </div>
            </div>


            <div class="form-group">
                <label for="descricao">Descricao</label>
                <textarea th:field="*{descricao}" class="form-control" placeholder="descricao"></textarea>
                <small>Copie a Url de uma boa imagem do produto.</small>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>


        </form>
    </div>

</div>
</body>
</html>